<section id="wizard-view-summary" class="wizard__page page__view-summary">
    <button class="collapsible">PHT Train Files</button>
    <div class="content" id="pht_files">
    </div>
    <button class="collapsible">PHT Train Connection Parameters</button>
    <div class="content">
      <table id="pht_connection_params"></table>
    </div>
    <button class="collapsible">PHT Train Metadata</button>
    <div class="content">
      <table id="pht_metadata"></table>
    </div>
</section>
