<section id="wizard-show-commit" class="wizard__page page__show-commit">
    <div id="git-commit-loading" style="display: none;">
        <img src="images/loading.gif" />
    </div>
    <div class="git_commit_info">
        <table id="git_commit_table">
        </table>
    </div>
</section>
