<section id="wizard-view-dockerfile" class="wizard__page page__view-dockerfile">
  <div>Editable Dockerfile</div><br><br>
  <textarea id="std-dockerfile" name="std-dockerfile" rows="20" cols="100">
  </textarea>
</section>