<section id="wizard-show-zip-files" class="wizard__page page__show-zip-files">
    <div class="zip_files">
        <form id="my-form">
            <p>Select the entry-point for the task containing main function for Dockerfile entry:</p><br>
            <div id="radio-group"></div>
        </form>
    </div>
</section>
