<section id="wizard-final" class="wizard__page page__final">
  <div>
    <img src="images/thanks.png" />
  </div> <br> <br>
  <div>Click on <b>Create New Train Image</b> to create a new PHT image...</div>
</section>