<section id="wizard-view-connection" class="wizard__page page__view-connection">
  <div class="table_inputs">
    <table id="param_table">
    </table>
  </div>
  <a href="#" id="insert-more">Add More Labels</a>
</section>
